---
title: awesome
---


<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Moon Toad</title>


  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://moontoad.net/feed.xml" />


<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

  <script src="/js/vendor/custom.modernizr.js"></script>

    <link rel="stylesheet" type="text/css" href="/webfonts/MuseoWebfontsKit.css">

    <!-- SCSS, baby -->
    <link rel="stylesheet" href="/css/spring2014.css">

</head>
<body>
  <header id="toptop">
    <div class="row">
      <div class = "large-3 columns">
        <img width="150px" height="150px" src="/grfx/logo.png" alt="moon toad logo"/> 
      </div>
      <div class="large-4 columns">
        <h1>Moon Toad</h1>
        <p>Homegrown free range content and bits from around the internet.</p>
      </div>
      <div class="large-4 columns">
        <p>Currently it's Fall</p>
      </div>
    </div>

            <div class="contain-to-grid sticky">
        <nav class="top-bar">
          <ul class="title-area">
            <li class="name"><!-- Leave this empty --></li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>

          <section class="top-bar-section">
              <ul class="left">
                  <li class="active"><a href="#">Twitter</a></li>
                  <li class="active"><a href="http://tumblr.moontoad.net">Tumblr</a></li>
                  <li class="active"><a href="http://moontoad.storenvy.com">Shop</a></li>
              </ul>
          </section>
        </nav>
    </div>
    </header>


    <section id="blog">
      <div class="row">
      <div class="large-6 large-offset-3 columns">
        {{ content }}
      </div>
      </div>
    </section>

  <footer>
    <div class="row">
      <div class="large-4 columns"> 
      <h2>The Archives</h2>
      <p>See history ordered <a href="/chronos" alt="Chronologically Ordered">Chronologically</p>.
      </div>
    </div>
    <div class="row">
      <div class="large-6 large-offset-3 columns">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License</a>.
      </div>
    </div>
  </footer>





</body>
</html>
